.movie-list-index.home-v2{max-width:100%;}
.movie-list-index.home-v2 ul.last-film-box{list-style-type:none;-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:0;padding:0;}
.movie-list-index.home-v2 .header-list-index{overflow:hidden;white-space:nowrap;}
.movie-list-index.home-v2 ul.last-film-box > li{display:inline-block !important;margin-right:0.26%;margin-bottom:10px !important;width:24.3%}

.block-actors .movie-list-index.home-v2 ul.last-film-box > li{display:inline-block !important;margin-right:0.33%;margin-bottom:10px !important;width:24.2%}

.movie-list-index.home-v2 ul.last-film-box > li > .movie-item{width:100% !important;}
.movie-list-index.home-v2 ul.last-film-box > li > .movie-item .movie-thumbnail{width:100% !important;}
.movie-list-index.home-v2 ul.last-film-box > li > .movie-item .movie-thumbnail .public-film-item-thumb{display:block !important;width:100% !important;height:100% !important;}
.movie-list-index.home-v2 ul.last-film-box > li > .movie-item .block-wrapper{position:relative;padding:0;background:#4F4E52 url(assets_replace/img/item_bg.gif) repeat;border-bottom:1px solid #000;color:#ddd;height:auto;display:block;}
.top-movie-banner{background:#4F4E52 url(assets_replace/img/item_bg.gif) repeat;padding-top:10px;margin-bottom:10px;}




@media screen and (max-width:996px){
	.col-lg-8{width:100%}
	.movie-list-index.home-v2 ul.last-film-box > li{width:19.4%}
}
@media screen and (max-width:991px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:19.3%}
}
@media screen and (max-width:901px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:19.2%}
}
@media screen and (max-width:714px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:24.2%}
}
@media screen and (max-width:668px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:32.5%}
}
@media screen and (max-width:561px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:32.4%}
}
@media screen and (max-width:510px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:49.2%}
}
@media screen and (max-width:353px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:49.1%}
}
@media screen and (max-width:313px){
	.block-actors .movie-list-index.home-v2 ul.last-film-box > li{width:100%}
}
@media screen and (max-width:934px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:19.3%}
}
@media screen and (max-width:850px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:24.3%}
}
@media screen and (max-width:667px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:32.6%}
}
@media screen and (max-width:640px){.movie-list-index.home-v2 ul.last-film-box > li{width:32.6%}
.movie-kinhdien{height:auto;}
.movie-kinhdien a#movie-kinhdien-item{width:100%;height:auto;}
}
@media screen and (max-width:553px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:32.5%}
}

@media screen and (max-width:480px){.movie-list-index.home-v2 ul.last-film-box > li{width:49.4%}
.movie-list-index.home-v2 ul.last-film-box > li:nth-child(2n+2){margin-right:0;}
.movie-kinhdien span.status h2{font-size:20px;}
.movie-kinhdien span.status h3{font-size:15px;}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li{margin-right:1%;width:32.333333333333%!important}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li:nth-child(6n){margin-right:1%;}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li:nth-child(4n){margin-right:1%;}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li:nth-child(3n){margin-right:0;}

#rating_box{margin-top:20px}
}
@media screen and (max-width:417px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:49.3%}
}
@media screen and (max-width:346px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:49.2%}
}
@media screen and (max-width:296px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:49.1%}
}
@media screen and (max-width:259px){
	.movie-list-index.home-v2 ul.last-film-box > li{width:100%}
}
@media screen and (max-width:360px){.movie-kinhdien{width:360px;height:135px;}
.movie-kinhdien a#movie-kinhdien-item{width:360px;height:135px;}
.movie-kinhdien span.status h2{font-size:18px;}
.movie-kinhdien span.status h3{font-size:13px;}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li{margin-right:1%;width:49%!important}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li:nth-child(6n){margin-right:1%;}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li:nth-child(4n){margin-right:1%;}
.suggest-movie .movie-list-index.home-v2 ul.last-film-box > li:nth-child(3n){margin-right:1%;}
}
@media screen and (max-width:320px){.movie-kinhdien{width:320px;height:120px;}
.movie-kinhdien a#movie-kinhdien-item{width:320px;height:120px;}
.movie-kinhdien span.status h2{font-size:16px;}
.movie-kinhdien span.status h3{font-size:12px;}
}